# Ignore node_modules directory
node_modules/

# Ignore uploaded files
uploads/

# Ignore package-lock.json file
package-lock.json

# Ignore npm-debug.log file
npm-debug.log

# Ignore .env file (if you're using environment variables)
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other unnecessary files
*.tmp
*.bak
*.log